// see http://www.entypo.com/characters/
@font-face {
    font-family: 'entypo';
    src: url('/static/fonts/entypo.eot');
    src: url('/static/fonts/entypo.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/entypo.woff') format('woff'),
         url('/static/fonts/entypo.ttf') format('truetype'),
         url('/static/fonts/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('/static/fonts/MonoSocialIconsFont-1.10.eot');
    src: url('/static/fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('/static/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('/static/fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('/static/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.mono-social {
    font-family: 'Mono Social Icons Font';
    font-size: 40px;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.entypo {
    font-family: "entypo";
    font-size: 28px;
}

