{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}VAR_PROJECT_NAME Prototype{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/libs/bootstrap-modal.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/libs/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ STATIC_URL }}css/libs/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />
    {% block extrahead %}{% endblock %}
</head>
<body>
<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/p/home.html" class="navbar-brand">VAR_PROJECT_NAME</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/p/home.html">Home</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

{% block main_container %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% block main %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}

<div id="ajax-modal" class="modal hide fade" tabindex="-1"></div>

{% comment %}Libs that are common and should be serverd via CDN and should not be compressed{% endcomment %}
<script src="{{ STATIC_URL }}js/libs/jquery-1.9.1.js"></script>
<script src="{{ STATIC_URL }}js/libs/jquery-ui-1.10.3.custom.min.js"></script>

{% comment %}Libs that will change and should be compressed{% endcomment %}
<script src="{{ STATIC_URL }}js/libs/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/bootstrap-datetimepicker.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/bootstrap-modal.js"></script>
<script src="{{ STATIC_URL }}js/libs/bootstrap-modalmanager.js"></script>
<script src="{{ STATIC_URL }}django_libs/js/modals.js"></script>
<script src="{{ STATIC_URL }}js/libs/holder.js"></script>

{% comment %}Extra js should not be compressed{% endcomment %}
{% block extrajs %}{% endblock %}

{% comment %}Global initialisations here. Should not be compressed{% endcomment %}
<script>
    $(document).ready(function() {
        $('.hasPopover').popover({
            placement: 'bottom'
        });
    });
</script>

{% comment %}Further initialisations on sub pages. Should not be compressed{% endcomment %}
{% block extra_script %}{% endblock %}
</body>
</html>
