{% load menu_tags libs_tags %}
{% for child in children %}
    {% if child.children %}
        <li class="dropdown">
            <a href="{{ child.url }}" class="dropdown-toggle disabled" data-toggle="dropdown">{{ child.get_menu_title}}</a>
                <ul class="dropdown-menu">
                    {% for subchild in child.children %}
                        <li class="{% navactive request subchild.url %} {% if subchild.selected %}selected{% endif %}{% if subchild.ancestor %}ancestor{% endif %}{% if subchild.sibling %}sibling{% endif %}{% if subchild.descendant %}descendant{% endif %}">
                            <a href="{{ subchild.attr.redirect_url|default:subchild.get_absolute_url }}">{{ subchild.get_menu_title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
    {% else %}
        <li class="{% navactive request child.url %}"><a href="{{ child.url }}">{{ child.get_menu_title}}</a></li>
    {% endif %}
{% endfor %}
