{# ajax only template - doesn't extend anything #}
{% load i18n account %}
<h1>{% trans "Sign In" %}</h1>
{% if socialaccount.providers  %}
  <p>{% blocktrans with site.name as site_name %}Please sign in with one of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a> for a {{site_name}} account and sign in below:{% endblocktrans %}</p>
  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
  <div class="login-or">{% trans 'or' %}</div>
  {% include "socialaccount/snippets/login_extra.html" %}
{% else %}
  <p>{% blocktrans %}If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}
<form method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {% if form.non_field_errors %}
    {{ form.non_field_errors }}
  {% endif %}
  {% for field in form %}
    {% include "django_libs/partials/form_field.html" %}
  {% endfor %}
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
  <a class="btn btn-default" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</form>
