{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<h1>{% if token_fail %}{% trans "Bad token" %}{% else %}{% trans "Change password" %}{% endif %}</h1>
{% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
{% else %}
    {% if form %}
        <form method="POST" action=".">
            {% csrf_token %}
            {% for field in form %}
                {% include "django_libs/partials/form_field.html" %}
            {% endfor %}
            <input class="btn btn-primary" type="submit" name="action" value="{% trans "Change password" %}"/>
        </form>
    {% else %}
        <p>{% trans 'Your password has been changed.' %}</p>
    {% endif %}
{% endif %}
{% endblock %}
