{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Change password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change password" %}</h1>
    <form method="POST" action="{% url 'account_change_password' %}">
        {% csrf_token %}
        {% for field in form %}
            {% include "django_libs/partials/form_field.html" %}
        {% endfor %}
        <button class="btn btn-primary" type="submit" name="action">{% trans "Change password" %}</button>
    </form>
{% endblock %}
