{% extends "account/base.html" %}
{% load i18n account %}

{% block head_title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<h1>{% trans "Password reset" %}</h1>
{% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
{% endif %}
<p>{% trans "Forgotten your password? Enter your email address below, and we will send you an email with a password-reset link." %}</p>
<form method="POST" action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    {% for field in form %}
        {% include "django_libs/partials/form_field.html" %}
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="{% trans "Reset my password" %}" />
</form>
{% endblock %}

{% block extrascript %}
    <script>
        $('[name="email"]').focus();
    </script>
{% endblock %}
