{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign up" %}</h1>
<p>{% blocktrans %}If you already have an account, please <a href="{{ login_url }}">log in here</a>.{% endblocktrans %}</p>
<form method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {% if form.non_field_errors %}
        {{ form.non_field_errors }}
    {% endif %}
    {% for field in form.visible_fields %}
        {% include "django_libs/partials/form_field.html" %}
    {% endfor %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-primary" type="submit">{% trans "Sign up" %}</button>
</form>
{% endblock %}


