{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Verify email address" %}{% endblock %}

{% block content %}
<h1>{% trans "Verify your email address" %}</h1>
{% url 'account_email' as email_url %}
<p>{% blocktrans %}We need to verify that you are who you claim to be. For this purpose, we require that you verify ownership of your email address. {% endblocktrans %}</p>
<p>{% blocktrans %}We have sent a verification email to your email address. Please click at the link inside the verification email. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
<p>{% blocktrans %}<strong>Note:</strong> you can still <a href="{{ email_url }}">change your email address</a>.{% endblocktrans %}</p>
{% endblock %}
